md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active {
 min-width: 200px !important;
 width: 50vw !important;
 max-width: 200px !important;
}


.md-sidenav-backdrop {
    opacity: 0 !important;
}

.main-toolbar {
  /* Put top toolbar on a higher layer than sidenav, which has z-index: 60 */
  
  z-index: 61;
  /* ..Not really needed unless you want the menu
     to be overlapped by the top bar, which it is
     not currently, thanks to "display: block" and            "position: relative" */
  /* Cosmetic */
 }

 .flat-btn-no-border {
  padding: 0;
  margin: 0;
  min-width: 88px;
  border-radius: 0;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border:none;
  outline: none;

}


.slide-left {
    position: relative;
}

.slide-left.ng-enter {
	-webkit-transition: all 1s ease;
    transition: all 1s ease;
    left: 100%;
    top: 0;
}
.slide-left.ng-enter.ng-enter-active {
    left: 0;

}
.slide-left.ng-leave {

    left: 0;

}
.slide-left.ng-leave.ng-leave-active {
    left: -100%;

}

.rotate {
	position: absolute;
    top: 64px;
    left:0;
    width: 100%;
    height: 100%;
    -webkit-animation-duration: 1s;
}
.ng-leave.rotate {
    -webkit-animation-name: rotate-leave;
}
.ng-enter.rotate {
    -webkit-animation-name: rotate-enter;
}
@-webkit-keyframes rotate-leave {
    0% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(0);
        opacity: 1;
    }
    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(-180deg);
        opacity: 0;
    }
}
@-webkit-keyframes rotate-enter {
    0% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(-180deg);
        opacity: 0;
    }
    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(-360deg);
        opacity: 1;
    }
}


.fade {
    position: absolute;
    top: 0;
    height: 100%;
    opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
    left: 100%;

}
.fade.ng-enter-active {
    opacity: 1;
    left: 0;

}
.fade.ng-leave {
    opacity: 1;
    left: 0;

}
.fade.ng-leave-active {
    opacity: 0;
    left: -100%;

}


md-card md-toolbar {
  border-radius: 3px 3px 0 0;
}

.toggle-content {
  background: none;
  max-height: 300px;
  height : auto;
  overflow: hidden;

}

.toggle-content.ng-hide-add, .toggle-content.ng-hide-remove {
  transition: max-height  500ms linear;
}

.toggle-content.ng-hide {
  max-height: 0;
  width:100%;

}

.toggle-content-without-height.hg-hide {
  font-size: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    /* fade out, then shrink */
    transition: opacity .25s,
                font-size .5s .25s,
                margin .5s .25s,
                padding .5s .25s;
}

.toggle-content-without-height.ng-hide-remove , .toggle-content-without-height.ng-hide-add{
  transition: font-size .25s,
                margin .25s,
                padding .25s,
                opacity .5s .25s;
}

*:focus {
    outline: none;
    border: 0;
 }

.float-left-6
{
  float:left;
  width:50%;
}
